.mainForm {
  width: 450px;
  margin: auto;
  margin-top: 150px;
  font-family: tahoma;
  font-size: 13px;
  color: #666;
  padding: 10px;
  border: solid 1px #666;
  border-radius: 5px;
}

.row {
  width: 100%;
  min-height: 50px;
}

.lable {
  width: 100px;
  min-height: 50px;
  line-height: 50px;
  float: right;
}

.formelement input[type="text"],.formelement input[type="password"] {
  width: 350px;
  min-height: 50px;
  line-height: 50px;
  text-align: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.btn {
  background: color #19b5fe;
  border: solid 1px #102770;
  color: #fff;
  border: 3px 10px;
  margin: 0 auto;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  background: #102770;
  border-color: #19b5fe;
}
